snippet nclass
	package `system('~/.vim/bin/java-file-to-package ' . expand('%'))`;

	public class `Filename('', 'myClass')` {
		${1}
	}
snippet tclass
	package `system('~/.vim/bin/java-file-to-package ' . expand('%'))`;

	import org.junit.Test;
	import org.junit.Assert;

	import `system('~/.vim/bin/java-file-to-package ' . expand('%') . ' test')`;

	public class `Filename('', 'myClass')` {
		${1}
	}

